@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  --font-sans: var(--font-sans), sans-serif;
  --font-mono: var(--font-mono), monospace;
}

:root {
  /* Light Mode Defaults */
  --background: #ffffff;
  --foreground: #0F1115;
  --secondary: #F3F4F6;
  --accent: #2563EB;
  --muted: #E5E7EB;
  --muted-foreground: #6B7280;
  --card: #ffffff;
  --card-foreground: #0F1115;
  --border: #E5E7EB;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  /* Dark Mode Overrides */
  --background: #0F1115;
  --foreground: #F5F5F5;
  --secondary: #1C1F26;
  --accent: #2563EB;
  --muted: #1F2937;
  --muted-foreground: #9CA3AF;
  --card: #1C1F26;
  --card-foreground: #F5F5F5;
  --border: #374151;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@keyframes drop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(200%);
  }
}

.animate-drop {
  animation: drop 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes gradient-x {

  0%,
  100% {
    background-size: 200% 200%;
    background-position: left center;
  }

  50% {
    background-size: 200% 200%;
    background-position: right center;
  }
}

.animate-gradient-x {
  animation: gradient-x 3s ease infinite;
}