@import "tailwindcss";

:root {
  --background: #0F1115;
  --foreground: #F5F5F5;
  --secondary: #1C1F26;
  --accent: #2563EB;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-sans), sans-serif;
  --font-mono: var(--font-mono), monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@keyframes drop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(200%);
  }
}

.animate-drop {
  animation: drop 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes gradient-x {

  0%,
  100% {
    background-size: 200% 200%;
    background-position: left center;
  }

  50% {
    background-size: 200% 200%;
    background-position: right center;
  }
}

.animate-gradient-x {
  animation: gradient-x 3s ease infinite;
}